<br/>
<div style="font-size: 10px;">
<!-- <a href="/logout"> logout </a> /  -->
<a href="/mybal">balance</a> /
<a href="/reader.html">Reader</a> / <a href="/syncbalance"> Sync balance</a> / 
<a href="https://vpoker.c4ei.net/?email=<%= email %>" target="_blank">Vpoker</a> 
<br/>
<a href="https://nft.c4ei.net %>" target="_blank">NFT</a> 
/ <a href="/exC4ei2Pot"> C4EI▶POT</a>
/ <a href="/exPot2C4ei"> POT▶C4EI</a>

<!-- <br>/ preparing : <a href="/exCeik2Pot" > CEIK▶POT</a> -->
<!-- / <a href="https://c4ei.net/rcv?rcv_email=his001@nate.com&rcv_adr=0x0077b5723B4017b38471F80725f7e3c3347FfB03&rcv_amt=10&tt=2021-11-09_10:19:19.000">test</a> -->
</div>
                    </div>
                </div>
            </div>
        </header>
