<br/>
<!-- <a href="/logout"> logout </a> /  -->
<a href="/reader.html">Reader</a> / <a href="/syncbalance"> Sync balance</a> / 
<a href="https://vpoker.c4ei.net/?email=<%= email %>" target="_blank">Vpoker</a> 
<br/>
<a href="https://nft.c4ei.net %>" target="_blank">NFT</a> 
/ <a href="/exC4ei2Pot"> C4EI▶POT</a>
/ <a href="/exPot2C4ei"> POT▶C4EI</a>

<br>/ preparing : <a href="/exCeik2Pot" > CEIK▶POT</a>
<!-- / <a href="https://c4ei.net/rcv?rcv_email=his001@nate.com&rcv_adr=0x0077b5723B4017b38471F80725f7e3c3347FfB03&rcv_amt=10&tt=2021-11-09_10:19:19.000">test</a> -->
                    </div>
                </div>
            </div>
        </header>

        <!-- About-->
        <section class="about-section text-center" id="about">
          <div class="container px-4 px-lg-5">
              <div class="row gx-4 gx-lg-5 justify-content-center">
                  <div class="col-lg-8">
                      <h2 class="text-white mb-4">C4EI</h2>
                      <p class="text-white-50">
                      Happiness, satisfaction, pleasure, melancholy, love, joy, sadness, hate… 
                      <br/>Ironically, one of the reasons we live is economic independence or independence. 
                      <br/>You have to support someone, you have to eat more than $6 a meal,
                      <br/> and you have to pay for an apartment, a car, and various loans.
                      <br/>It starts with the belief that if cryptocurrency is really settled in the future, 
                      <br/>C4EI will also help you in your future life.
                      <br/>I want to share a small first step with you and move forward.
                      </p>
                  </div>
              </div>
          </div>
      </section>
      <!-- Projects-->
      <section class="projects-section bg-light" id="projects">
          <div class="container px-4 px-lg-5">
              <!-- Featured Project Row-->
              <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                  <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-masthead.jpg" alt="..." /></div>
                  <!-- <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="https://i.ibb.co/q1VGLLC/c4ei.png" alt="c4ei" /></div> -->
                  <div class="col-xl-4 col-lg-5">
                      <div class="featured-text text-center text-lg-left">
                          <h3>MAIN NET</h3>
                          network : c4ei<br/>
                          RPC URL :  https://rpc.c4ei.net<br/>
                          chain ID : 21004<br/>
                          symbol(option) : c4ei<br/>
                          explorer URL(option) : https://exp.c4ei.net (need metamask login)<br/>
                          </h3>
                          <!-- <h4>Shoreline</h4>
                          <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!</p> -->
                      </div>
                  </div>
              </div>

              <!-- status-->
              <div class="row gx-0 justify-content-center">
                  <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-02.jpg" alt="..." /></div>
                  <div class="col-lg-6 order-lg-first">
                      <div class="bg-black text-center h-100 project">
                          <div class="d-flex h-100">
                              <div class="project-text w-100 my-auto text-center text-lg-right">
                                  <h4 class="text-white">C4EI status</h4>
                                  <p class="mb-0 text-white-50">
                                      <a href="https://stat.c4ei.net" target="_blank">status</a> /
                                      <a href="https://exp.c4ei.net" target="_blank" title="Before Access Metamask C4EI Network Choose First!!!!">explore</a>  
                                  </p>
                                  <hr class="d-none d-lg-block mb-0 me-0" />
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <br/>
              <!-- easypay-->
              <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                  <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-01.jpg" alt="..." /></div>
                  <!-- <div class="col-lg-6"><img class="img-fluid" src="/images/2_1st.PNG" alt="easy" /></div> -->
                  
                  <div class="col-lg-6">
                      <div class="bg-black text-center h-100 project">
                          <div class="d-flex h-100">
                              <div class="project-text w-100 my-auto text-center text-lg-left">
                                  <h4 class="text-white">C4EI in easypay</h4>
                                  <p class="mb-0 text-white-50">
                                      Transmission technology using hybrid blockchain.<br/>
                                      We will open the era of 1 second transmission of blockchain transactions.</p>
                                  <hr class="d-none d-lg-block mb-0 ms-0" />
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <br/>
              <!-- coin market -->
              <div class="row gx-0 justify-content-center">
                  <!-- <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-02.jpg" alt="..." /></div> -->
                  <div class="col-lg-6" style="text-align: center;">
                    <img class="img-fluid" src="https://i.ibb.co/C2MrNzX/base-c4ei-net.jpg" alt="coin market"/></div>
                  <div class="col-lg-6 order-lg-first">
                      <div class="bg-black text-center h-100 project">
                          <div class="d-flex h-100">
                              <div class="project-text w-100 my-auto text-center text-lg-right">
                                  <h4 class="text-white"> C4EI coin market</h4>
                                  <p class="mb-0 text-white-50">coin market for c4ei will 2022 2Q open </p>
                                  <hr class="d-none d-lg-block mb-0 me-0" />
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <br/>
              <!-- vpoker-->
              <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-6"><img class="img-fluid" src="/images/poker.png" alt="vpoker" /></div>
                <!-- <div class="col-lg-6"><img class="img-fluid" src="/images/2_1st.PNG" alt="easy" /></div> -->
                
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">C4EI Video poker</h4>
                                <p class="mb-0 text-white-50">
                                    We are testing the combination of c4ei and games.<br/>
                                    We are preparing video poker using cryptocurrency.
                                </p>
                                <hr class="d-none d-lg-block mb-0 ms-0" />
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <br/>
              <!-- coin market -->
              <div class="row gx-0 justify-content-center">
                <!-- <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-02.jpg" alt="..." /></div> -->
                <div class="col-lg-6" style="text-align: center;">
                    <img class="img-fluid" src="/images/nft/1.png" alt="coin market"/> <br/>
                    <img class="img-fluid" src="/images/nft/3.png" alt="coin market"/>
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">NFT C4EI </h4>
                                <p class="mb-0 text-white-50">NFT will 2022 1Q open 
                                <br/>you need Access metamask network C4EI MAIN NET
                                </p>
                                <hr class="d-none d-lg-block mb-0 me-0" />
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <br/>
              
            </div>
      </section>
      <!-- Contact-->
      <section class="contact-section bg-black">
          <div class="container px-4 px-lg-5">
              <div class="row gx-4 gx-lg-5">
                  <div class="col-md-4 mb-3 mb-md-0">
                      <div class="card py-4 h-100">
                          <div class="card-body text-center">
                              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                              <h4 class="text-uppercase m-0">Address</h4>
                              <hr class="my-4 mx-auto" />
                              <div class="small text-black-50">585 Inju-daero, Namdong-gu, Incheon</div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 mb-3 mb-md-0">
                      <div class="card py-4 h-100">
                          <div class="card-body text-center">
                              <i class="fas fa-envelope text-primary mb-2"></i>
                              <h4 class="text-uppercase m-0">Email</h4>
                              <hr class="my-4 mx-auto" />
                              <div class="small text-black-50"><a href="#!">c4ei.net@gmail.com</a></div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4 mb-3 mb-md-0">
                      <div class="card py-4 h-100">
                          <div class="card-body text-center">
                              <i class="fas fa-mobile-alt text-primary mb-2"></i>
                              <h4 class="text-uppercase m-0">ggbwallet</h4>
                              <hr class="my-4 mx-auto" />
                              <div class="small text-black-50"><a href="https://play.google.com/store/apps/details?id=io.ggb.wallet&hl=ko&gl=US" target="_blank">android wallet</a></div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="social d-flex justify-content-center">
                  <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                  <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                  <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
              </div>
          </div>
      </section>
      <!-- Footer-->
      <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; c4ei.net 2021</div></footer>
      <!-- Bootstrap core JS-->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
      <!-- Core theme JS-->
      <script src="js/scripts.js"></script>

  </body>
</html>
